@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Urbanist;
}
body{
  background-color: #fcfcfc;
}

.navbar {
  background-color: rgba(255, 0, 0, 0.205);
}
.nav-link{
  font-weight: 600 !important;
}
.nav-link i{
  padding-top: 5px;
}
.navbar-toggler-icon {
  color: black !important;
  background-image: url(../img/menu_icon_153999.png);
}
.navbar-brand-img {
  color: black;
}
.navbar_main {
  justify-content: space-around;
}
@media screen and (max-width: 575px) {
  .navbar_logo-2 {
    display: block !important;
  }
}

#hero-section {
  background-image: url(../img/hero-background.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.hero_section {
  text-align: center;
  
}
.hero_section h1{
  font-size: 60px;
  font-weight: 600;
  color: white;
}
.hero_section .hero_btm {
  padding: 12px 24px;
  font-size: 17px !important;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.hero_section p {
  font-size: 25px;
  color: white;
  font-weight: 400;
}

#hero-section svg {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

#hero-section svg path{
  fill: #fff;
  
}
@media screen and (max-width: 570px) {
  .hero-hero_section h1{
    font-size: 10px!important;
  }
  .hero_section p{
    font-size: 20px;
  }
  
  
}
@media screen and (max-width: 990px) {
  .hero_section {
    padding-top: 100px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .hero_section h1 {
    font-size: 50px !important;
  }
}
/* hero section end*/

/*cards section start*/

/* #card-section{
  position: relative;
} */
.all-cards{
  bottom: 70px;
  position: relative;
  
}

.card {
  border: 1px solid #fff;
  height: 300px;
  padding: 30px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .1);
  
  /* position: absolute; */
  /* top: 100px;*/
}
.card-img img{
  width: 45px;
  
}
.card h5{
  font-size: 20px;
  padding: 10px;
  padding-left: 0px;
}
.card p{
  font-size: 17px;
  font-weight: 500;
  color: #7d838d;
}
.card a{
  text-decoration: none;
  color: #cc84af;
  font-size: 17px;

}
@media screen and (max-width: 570px) {
  .all-cards{
    gap: 30px;
  }
  .card{
    margin-bottom: 30px;
  }
  
}


/* cards section end*/

/* why sandbox section start*/

#shy-sandbox-section{
  padding-top: 100px;
}
.why-heading h6{
  text-align: center;

}
.why-heading h2{
  text-align: center;
}
.why-card{
  display: flex;
  justify-content: center;
  padding: 30px;
  padding-bottom: 10px ;
  
  border-radius: 5px;
  transition: .5s;
}

.why-card.active,
.why-card:hover{
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .1);

}
.why-img img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  background-color: cover;
  border: none;
  border-radius: 5px;

}
.why-collect{
  padding-top: 100px;
}
.why-collect-text{
  padding-top: 30px;
}
.why-collect-text > ul > li{
  list-style-type: none;
}
.why-btn{
  color: #fff;
  font-weight: 600;
  background-color: pink;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
@media screen and (max-width: 570px) {
  .why-collect-text ul{
    padding: 0px;
  }
  .why-card{
    margin-bottom: 30px;
  }

  
  
}


/* why choose sandbox section end*/

/* save time and money secion start*/
#time-money-section{
  padding-top: 100px;
}
.time-money-ratio{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 50px;
}
.time-money-img img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.carousel-item img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;

}
.carousel-item{
  padding-top: 80px;
}
.carousel-main-div{
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 50px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .1);

}
.star-icon{
  text-align: center;
  color: gold;
}
.quotes{
  text-align: center;
}
.quotes-writer{
  text-align: center;
}
.quotes-writer p{
  margin: 0px;
}
.work-position{
  padding-bottom: 100px;
}
.carousel-indicators button{
  background-color: white;
  padding: 3px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 3px;
}
@media screen and (max-width: 570px){
  .time-money-ratio{
    flex-direction: column;
  
    
  }
  .ratio-95{
    width: 100%;
    
  }
  .ratio-95 h3, p{
    text-align: center;
  }
  .ratio-80{
    width: 100%;
  }
  .ratio-80 h3{
    text-align: center;
  }
}
/*save time and money sectino end*/

/* make different section end*/

#make-different-section{
  padding-top: 50px;
}
.make-different-big-img img{
  width: 100%;
  aspect-ratio: 5/2;
  object-fit: cover;
  border: none;
  border-radius: 10px;
  

}
.make-different-small-img{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
  
}
.make-different-small-img img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}
.make-different-small-img-2 img{
  aspect-ratio: 3/2;
}
.make-different-small-img-1 img{
  aspect-ratio: 4/3;
}
.make-different-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.make-different-card{
  display: flex;
  justify-content: space-between;
  width: 47%;
  border: none;
  margin-bottom: 0px;
  padding: 10px 30px;

}
.make-different-card-text p{
  font-size: 15px;
}
@media  screen and (max-width: 570px) {
  .make-different-small-img{
    flex-direction: column;
    width: 100%;
  }
  .make-different-small-img-1{
    width: 100%;
  }
  .make-different-small-img-2{
    width: 100%;
  }
  .make-different-cards{
    flex-direction: column;
  }
  .make-different-card{
    text-align: center;
    width: 80%;
  }
  
}

/*make different section end*/

/* join our community section start*/
#join-community-section{
  padding-top: 100px;
  padding-bottom: 100px;
}
.join-community{
  background-image: url(../img/hero-background.png);
  background-size: cover;
  padding: 50px 50px;
  padding-bottom: 40px;
  object-fit: cover;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.join-community p{
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.join-community h2{
  padding: 0px 220px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 40px;
}
@media screen and (max-width: 960px) {
  .join-community h2{
    padding: 0px 0px;
  }
  
}
@media screen and (max-width: 570px) {
  .join-community h2{
    
  }
  
}
/* .join-community::after{
  content: "";
  background-color: rgba(0, 0, 0, .5);
} */


/* footer section start*/

.footer-content img{
  margin-bottom: 20px;
}

.footer-content li{
  list-style-type: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 2;
}
.footer-content ul{
  padding-left:  0px;
}
.footer-content h6{
  font-size: 17px;
  font-weight: 700;
}
.form-control{
  width: 95%;
}
/* .email{
  display: flex;
  justify-content: center;
  align-items: center;
}
.email button{
  padding: 13px;
} */
.input-group{
  border: 1px solid #a07cc4;
  border-radius: 10px;
  padding: 0px 0px;
}
.input-group input{
  border: none;
  border-radius: 10px;
}
.input-group span{
  border: none;
  border-radius: 8px;
  background-color: #a07cc4;
  padding: 10px 10px;
}



